services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DJANGO_DB_NAME:-mosifra}
      POSTGRES_USER: ${DJANGO_DB_USER:-mosifra}
      POSTGRES_PASSWORD: ${DJANGO_DB_PASSWORD:-mosifra}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
