name: Generate Diagram
on:
  push:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Graphviz
        run: sudo apt-get install -y graphviz

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install diagrams

      - name: Generate Diagram
        run: python my_diagram_script.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: architecture-diagram
          path: "*.png"
